@media only screen and (min-width: 800px) {


    .europeMap {
        background-image: url(../assets/Europe_location.png);
        width: 1200px;
        height: 800px;
        margin-top: 100px;
        margin-left: 354px;
        background-repeat: no-repeat;
    }
    
    .portugal {
        background-repeat: no-repeat;
        background-image: url(../assets/portugal.png);
        position: absolute;
        bottom: 63px;
        left: 639px;
        width: 3%;
        height: 10%;
        opacity: 0%;
    }
    
    .ptInfo{
        background: white;
        border-radius: 10px;
        padding: 15px;
        position: absolute;
        bottom: 120px;
        left: 509px;
        opacity: 0;
    }

    .portugal:hover + .ptInfo{
        opacity: 70%;
    }
    
    .spain{
        background-repeat: no-repeat;
        background-image: url(../assets/spain.png);
        position: absolute;
        bottom: 80px;
        left: 679px;
        width: 5%;
        height: 10%;
        opacity: 0%;
    }
    
    .spainInfo {
        background: white;
        border-radius: 10px;
        padding: 15px;
        position: absolute;
        bottom: 170px;
        left: 589px;
        opacity: 0;
    }
    
    .spain:hover + .spainInfo{
        opacity: 70%;
    }

    .france {
        background-repeat: no-repeat;
        background-image: url(../assets/spain.png);
        position: absolute;
        bottom: 180px;
        left: 749px;
        width: 5%;
        height: 12%;
        opacity: 0%;
    }

    .franceInfo {
        background: white;
        border-radius: 10px;
        padding: 15px;
        position: absolute;
        bottom: 200px;
        left: 609px;
        opacity: 0;
    }
    
    .france:hover + .franceInfo{
        opacity: 70%;
    }

}

