@media only screen and (min-width: 800px) {

    @keyframes transitionColor {
        from {background-color: transparent;}
        to {background-color: white}
    }

    .europeMap {
        background-image: url(../assets/Europe_location.png);
        width: 1200px;
        height: 800px;
        margin-top: 100px;
        margin-left: 354px;
        background-repeat: no-repeat;
    }

    .infoBox {
        background: white;
        border-radius: 10px;
        max-width: 220px;
        padding: 15px;
        position: absolute;
        bottom: 320px;
        left: 409px;
        opacity: 0;
    }
    
    .portugal {
        background-repeat: no-repeat;
        background-image: url(../assets/portugal-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 103px;
        left: 649px;
        width: 40px;
        height: 25px;
    }

    a.portugal:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .portugal:hover {
        cursor: pointer
    }
    
    .spain{
        background-repeat: no-repeat;
        background-image: url(../assets/spain-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 120px;
        left: 709px;
        width: 40px;
        height: 25px;
    }
    
    a.spain:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .spain:hover {
        cursor: pointer
    }

    .france {
        background-repeat: no-repeat;
        background-image: url(../assets/france-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 220px;
        left: 779px;
        width: 40px;
        height: 25px;
    }
    
    a.france:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .france:hover {
        cursor: pointer
    }

    .england {
        background-repeat: no-repeat;
        background-image: url(../assets/england-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 330px;
        left: 720px;
        width: 40px;
        height: 25px;
    }
    
    a.england:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .england:hover {
        cursor: pointer
    }


    .germany {
        background-repeat: no-repeat;
        background-image: url(../assets/germany-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 310px;
        left: 870px;
        width: 40px;
        height: 25px;
    }

    a.germany:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .germany:hover {
        cursor: pointer
    }

    .italy {
        background-repeat: no-repeat;
        background-image: url(../assets/italy-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 150px;
        left: 900px;
        width: 40px;
        height: 25px;
    }

    a.italy:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .italy:hover {
        cursor: pointer
    }

    .norway {
        background-repeat: no-repeat;
        background-image: url(../assets/norway-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 530px;
        left: 860px;
        width: 40px;
        height: 25px;
    }
    
    a.norway:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .norway:hover {
        cursor: pointer
    }

    .netherlands {
        background-repeat: no-repeat;
        background-image: url(../assets/netherlands-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 340px;
        left: 810px;
        width: 40px;
        height: 25px;
    }
    
    a.netherlands:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .netherlands:hover {
        cursor: pointer
    }

    .belgium {
        background-repeat: no-repeat;
        background-image: url(../assets/belgium-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 290px;
        left: 800px;
        width: 40px;
        height: 25px;
    }
    
    a.belgium:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .belgium:hover {
        cursor: pointer
    }

    .switzerland {
        background-repeat: no-repeat;
        background-image: url(../assets/switzerland-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 222px;
        left: 854px;
        width: 34px;
        height: 32px;
    }
    
    a.switzerland:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .switzerland:hover {
        cursor: pointer
    }

}



@media only screen and (max-width: 800px) {

    @keyframes transitionColor {
        from {background-color: transparent;}
        to {background-color: white}
    }

    .europeMap {
        background-image: url(../assets/Europe_location.png);
        background-size: cover;
        height: 700px;
        width: 700px;
        margin: 30px;
        margin-top: 100px;
        background-repeat: no-repeat;
    }

    .infoBox {
        border-radius: 10px;
        max-width: 220px;
        padding: 15px;
        position: absolute;
        bottom: 240px;
        left: 43px;
        opacity: 0;
    }

    .portugal {
        background-repeat: no-repeat;
        background-image: url(../assets/portugal-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 183px;
        left: 239px;
        width: 40px;
        height: 25px;
    }

    a.portugal:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .portugal:hover {
        cursor: pointer
    }

    .spain{
        background-repeat: no-repeat;
        background-image: url(../assets/spain-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 200px;
        left: 299px;
        width: 40px;
        height: 25px;
    }
    
    a.spain:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .spain:hover {
        cursor: pointer
    }

    .france {
        background-repeat: no-repeat;
        background-image: url(../assets/france-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 280px;
        left: 359px;
        width: 40px;
        height: 25px;
    }

    a.france:hover + .infoBox{
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .france:hover {
        cursor: pointer
    }

    .england {
        background-repeat: no-repeat;
        background-image: url(../assets/england-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 360px;
        left: 310px;
        width: 40px;
        height: 25px;
    }
    
    a.england:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .england:hover {
        cursor: pointer
    }

    .germany {
        background-repeat: no-repeat;
        background-image: url(../assets/germany-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 345px;
        left: 430px;
        width: 40px;
        height: 25px;
    }
    
    a.germany:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .germany:hover {
        cursor: pointer
    }

    .italy {
        background-repeat: no-repeat;
        background-image: url(../assets/italy-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 215px;
        left: 450px;
        width: 40px;
        height: 25px;
    }

    a.italy:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .italy:hover {
        cursor: pointer
    }

    .norway {
        background-repeat: no-repeat;
        background-image: url(../assets/norway-flag-xs.png);
        background-size: cover;
        position: absolute;
        bottom: 500px;
        left: 410px;
        width: 40px;
        height: 25px;
    }
    
    a.norway:hover + .infoBox {
        animation-name: transitionColor;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        opacity: 70%;
    }

    .norway:hover {
        cursor: pointer
    }

}