body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(../assets/image-bg.png); */
  background-image: linear-gradient(to left,skyblue, rgb(182, 245, 255));
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.searchField {
  width: 600px;
  height: 40px;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 2px;
  padding-left: 10px;
  margin-left: 4px;
}

.searchField:focus {
  outline-color: white;
}

.searchBox {
  align-items: center;
  width: 620px;
  height: 60px;
  display: flex;
  padding: 5px;
  background-color: white;
}

.navBar {
  padding-left: 260px;
  padding-right: 260px;
}

.weatherCard {
  width: 600px;
  position: absolute;
  right: 284px;
  top: 110px;
}

.weatherCardCont {
  display: flex;
  flex-wrap: wrap;
  
}




.forecastCard {
  margin: 7px;
  width: 181px;
  height: 400px;
}

.forecastCardCont {
  display: flex;
  flex-direction: column;
}

.flexForecastCards {
  display: flex;
  margin-left: 279px;
  margin-top: 300px;
}

.forecastImages {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


