body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(../assets/image-bg.png); */
  background-image: linear-gradient(to left,skyblue, rgb(182, 245, 255));
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.searchField {
  width: 600px;
  height: 40px;
  border: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  padding: 2px;
  padding-left: 10px;
  margin-left: 4px;
}

.searchField:focus {
  outline-color: white;
}

.searchBox {
  display: flex;
  align-items: center;
  width: 620px;
  height: 60px;
  padding: 5px;
  background-color: white;
}

.navBar {
  padding-left: 260px;
  padding-right: 260px;
}


.weatherCard {
  width: 600px;
}

.weatherCardCont {
  display: flex;
  flex-flow: row wrap;
}

.forecastCard {
  margin: 2px;
  width: 190px;
  height: 400px;
}

@keyframes transitionColor {
  from {background-color: transparent;}
  to {background-color: rgb(255, 255, 255);}
}

.forecastCard:hover, .forecastCard:focus-visible{
  width: 220px;
  height: 420px;
  transform: translateY(-1.5rem);
  animation-name: transitionColor;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  cursor: pointer;
}

.forecastCardCont {
  display: flex;
  flex-flow: row wrap;

}

.flexForecastCards {
  display: flex;
  margin-left: 279px;
  margin-top: 50px;
}

.forecastImages {
  padding-top: 15px;
  padding-bottom: 15px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.afterSearchCurrentDay {
  width: 500px;

}

.afterSearchCurrentDayCont {
  display: flex;
  flex-flow: row wrap;
}

.hourForecast {
  width: 770px;
}

.hourForecastCont {
  display: flex;
  flex-flow: row wrap;
}

